@charset "UTF-8";

@font-face {
    font-family: 'Bank Gothic Lighter';
    src: url(fontes/bankgothic-md-bt/Bank\ Gothic\ Light\ Regular.otf) format(opentype);
}

@font-face {
    font-family: 'Bank Gothic bold';
    src: url(fontes/bankgothic-md-bt/BankGothic\ Bold.ttf) format(truetype);
}

:root {
    --fonte1: 'Bank Gothic Lighter';
    --fonte2: 'Bank Gothic Bold';

    --cor1: #595959;
    --cor2: #0D0D0D;
    --cor3: #F2F2F2;
    --cor4: #EDAE4C;
    --cor5: #F93046;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
}

header > h2 {
    font-family: var(--fonte1);
}

header > img {
    width: 150px;
}

nav {
    margin: 10px;
    background-color: var(--cor1); 
    padding: 20px;
    font-family: var(--fonte2);
    text-align: center;
    font-size: 2vw;
}

nav a {
    color: var(--cor2);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


section {
    height: 400px;
    text-align: center;   
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte1);
    font-size: 3vw;
    background-color: #595959;
    margin: 10px;
}

section p:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}